In [1]:
import pandas as pd
import numpy as np

In [2]:
H1 = pd.read_excel('H.Demanda hotelera en Madrid por Mes.xlsx')
H2 = pd.read_excel('H.Oferta hotelera en Madrid por Mes.xlsx')
H3 = pd.read_excel('H.Pernoctaciones en Madrid por País de residencia.xlsx')
H4 = pd.read_excel('H.Pernoctaciones viajeros (residentes en España) x CA y Mes.xlsx')
H5 = pd.read_excel('H.Viajeros (residentes en España) en Madrid x procedencia y Mes.xlsx')
H6 = pd.read_excel('H.Viajeros en la ciudad de Madrid por País de residencia.xlsx')

In [3]:
H1.columns=[e.lower().replace(' ', '_') for e in H1.columns] 
display(H1.head())
H2.columns=[e.lower().replace(' ', '_') for e in H2.columns] 
display(H2.head())
H3.columns=[e.lower().replace(' ', '_') for e in H3.columns] 
display(H3.head())
H4.columns=[e.lower().replace(' ', '_') for e in H4.columns] 
display(H4.head())
H5.columns=[e.lower().replace(' ', '_') for e in H5.columns] 
display(H5.head())
H6.columns=[e.lower().replace(' ', '_') for e in H6.columns] 
display(H6.head())

,año,mes,total_viajeros,viajeros_nacionales,viajeros_extranjeros,total_pernoctaciones,pernoctaciones_nacionales,pernoctaciones_extranjero,estancia_media_(días)
0,1999,Enero,315037.0,184883.0,130154.00,740403.0,426241.0,314163.0,2.35
1,1999,Febrero,323361.0,184621.0,138.74,742751.0,420676.0,322075.0,2.30
2,1999,Marzo,405495.0,210887.0,194608.00,928374.0,482148.0,446227.0,2.29
3,1999,Abril,423969.0,201294.0,222675.00,966568.0,446083.0,520484.0,2.28
4,1999,Mayo,445441.0,215788.0,229653.00,973432.0,457237.0,516195.0,2.19

,año,mes,nº_establecimientos_abiertos,nº_plazas_estimadas,ocupacion_por_habitaciones_(%),ocupacion_por_plazas_(%),ocupacion_por_plazas_fines_de_semana_(%),nº_personas_empleadas
0,1999,Enero,1048.0,51497.0,59.10,46.25,52.26,8589.0
1,1999,Febrero,1044.0,52985.0,64.90,49.88,55.39,8711.0
2,1999,Marzo,1038.0,53643.0,69.24,55.50,62.97,8885.0
3,1999,Abril,1031.0,54641.0,71.63,58.52,64.63,8980.0
4,1999,Mayo,1028.0,54265.0,73.01,57.56,62.91,8713.0

,año,mes,total_pernoctaciones,pernoctaciones_nacionales,pernoctaciones_extranjeros,pernoctaciones_alemania,pernoctaciones_austria,pernoctaciones_bélgica,pernoctaciones_dinamarca,pernoctaciones_finlandia,...,pernoctaciones_canadá,pernoctaciones_estados_unidos,pernoctaciones_méxico,pernoctaciones_venezuela,pernoctaciones_resto_de_américa_central_y_sur,pernoctaciones_japón,pernoctaciones_resto_de_asia,pernoctaciones_australia,pernoctaciones_nueva_zelanda,pernoctaciones_otro_país
0,1999,Enero,740406.0,426241,314165.0,14519,2373,3890.0,1008,777,...,2652,41816,11713,2989,21278,25742,6322,1691,81,12655
1,1999,Febrero,742752.0,420676,322076.0,18929,2240,5317.0,1385,788,...,2300,47599,8561,3274,18357,29254,7034,1166,104,12263
2,1999,Marzo,928375.0,482148,446227.0,35771,2856,8731.0,2290,1085,...,3324,94041,12894,4110,25925,35425,7418,1147,142,16281
3,1999,Abril,966566.0,446083,520483.0,43943,3596,9171.0,3593,1612,...,6604,124599,12663,3755,34397,26991,7025,3376,666,19811
4,1999,Mayo,973434.0,457237,516197.0,36168,3905,7812.0,2096,1652,...,4377,104989,14880,4639,38305,28603,7663,4227,159,17898

,año,mes,total_pernoctaciones_nacionales,pernoctaciones_andalucía,pernoctaciones_aragón,pernoctaciones_principado_de_asturias,pernoctaciones_illes_balears,pernoctaciones_canarias,pernoctaciones_cantabria,pernoctaciones_castilla_y_león,...,pernoctaciones_cataluña,pernoctaciones_comunitat_valenciana,pernoctaciones_extremadura,pernoctaciones_galicia,pernoctaciones_comunidad_de_madrid,pernoctaciones_región_de_murcia,pernoctaciones_comunidad_foral_de_navarra,pernoctaciones_país_vasco,pernoctaciones_la_rioja,pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla
0,2004,Enero,417664,59030,10598,12735,11643,18580,8786,27292,...,59222,38391,10533,24040,69394,14672,7916,22707,4583,2012
1,2004,Febrero,466626,69153,12358,12996,13932,20870,9180,22952,...,71377,43072,10837,26485,80782,13669,9143,24957,4689,1892
2,2004,Marzo,458080,65849,11469,15495,10755,18344,8162,26488,...,70904,37861,13299,29011,80194,11001,8300,25468,4487,2194
3,2004,Abril,444607,59694,12558,15482,10799,18799,8432,23783,...,63140,38900,10507,31120,75617,12267,9467,25943,5292,2371
4,2004,Mayo,499710,72457,14305,17415,9954,19709,8455,29172,...,75758,39983,13543,35416,84882,12154,10313,26362,4854,3270

,año,mes,total_viajeros_nacionales,viajeros_andalucía,viajeros_aragón,viajeros_principado_de_asturias,viajeros_illes_balears,viajeros_canarias,viajeros_cantabria,viajeros_castilla-león,...,viajeros_cataluña,viajeros_comunitat_valenciana,viajeros_extremadura,viajeros_galicia,viajeros_comunidad_de_madrid,viajeros_región_de_murcia,viajeros_comunidad_foral_de_navarra,viajeros_país_vasco,viajeros_la_rioja,viajeros_ciudad_autónoma_de_ceuta_y_melilla
0,2004,Enero,205039.00,30106,6070,6598,6775.0,8862,5137.0,12468,...,31054,21175,5716,11285,21130,8831,4075,12746,2597.0,1066
1,2004,Febrero,235673.00,37701,6833,6567,7590.0,9619,5293.0,11307,...,39433,24953,6021,12633,28698,7807,5165,13966,2716.0,1024
2,2004,Marzo,229569.00,36522,6820,7566,6112.0,9178,4687.0,12647,...,39084,22496,6332,14021,26426,6450,4559,13987,2489.0,1161
3,2004,Abril,213838.00,30645,6714,7749,5689.0,9160,4691.0,11749,...,33990,21760,5769,13249,23910,6192,4856,14202,2885.0,1182
4,2004,Mayo,238.11,36541,7736,7884,5562.0,9110,4965.0,13967,...,38727,21773,6973,16226,26386,7318,5441,15154,2735.0,1595

,año,mes,total_viajeros,total_viajeros_nacionales,total_viajeros_extranjeros,viajeros_alemania,viajeros_austria,viajeros_bélgica,viajeros_dinamarca,viajeros_finlandia,...,viajeros_canadá,viajeros_estados_unidos,viajeros_méjico,viajeros_venezuela,viajeros_resto_de_américa,viajeros_japón,viajeros_resto_de_asia,viajeros_australia,viajeros_nueva_zelanda,viajeros_otro_país
0,1999,Enero,315037,184883.0,130154.0,6415,969,1867,501,389,...,1037,16833,3632,1059,8479,12521,2840,499,67,5331
1,1999,Febrero,323361,184621.0,138740.0,8060,1135,2344,617,520,...,1059,19158,2350,1166,8129,12615,2694,484,48,5479
2,1999,Marzo,405498,210887.0,194611.0,13653,1354,3086,977,595,...,1574,40928,4685,1393,10989,17814,2898,468,75,7762
3,1999,Abril,423969,201294.0,222675.0,17394,1636,4170,1464,582,...,2872,49438,5380,1310,13355,13991,2877,1617,255,7565
4,1999,Mayo,445442,215788.0,229654.0,15559,1601,3451,1181,703,...,2100,45744,5516,1873,16736,15120,3393,2251,80,8241

In [4]:
display(H1.shape)
display(H1.isnull().sum())
display(H1.dtypes)

(300, 9)

año                          0
mes                          0
total_viajeros               0
viajeros_nacionales          0
viajeros_extranjeros         0
total_pernoctaciones         0
pernoctaciones_nacionales    0
pernoctaciones_extranjero    0
estancia_media_(días)        0
dtype: int64

año                            int64
mes                           object
total_viajeros               float64
viajeros_nacionales          float64
viajeros_extranjeros         float64
total_pernoctaciones         float64
pernoctaciones_nacionales    float64
pernoctaciones_extranjero    float64
estancia_media_(días)        float64
dtype: object

In [5]:
H1['date'] = H1['mes'].astype(str) +"-"+ H1['año'].astype(str)
H2['date'] = H2['mes'].astype(str) +"-"+ H2['año'].astype(str)
H3['date'] = H3['mes'].astype(str) +"-"+ H3['año'].astype(str)
H4['date'] = H4['mes'].astype(str) +"-"+ H4['año'].astype(str)
H5['date'] = H5['mes'].astype(str) +"-"+ H5['año'].astype(str)
H6['date'] = H6['mes'].astype(str) +"-"+ H6['año'].astype(str)

In [6]:
H1_2=H1.drop(['año','mes','date'],axis=1)
H1_2

,total_viajeros,viajeros_nacionales,viajeros_extranjeros,total_pernoctaciones,pernoctaciones_nacionales,pernoctaciones_extranjero,estancia_media_(días)
0,315037.0,184883.0,130154.00,740403.0,426241.0,314163.0,2.35
1,323361.0,184621.0,138.74,742751.0,420676.0,322075.0,2.30
2,405495.0,210887.0,194608.00,928374.0,482148.0,446227.0,2.29
3,423969.0,201294.0,222675.00,966568.0,446083.0,520484.0,2.28
4,445441.0,215788.0,229653.00,973432.0,457237.0,516195.0,2.19
...,...,...,...,...,...,...,...
295,0.0,0.0,0.00,0.0,0.0,0.0,0.00
296,0.0,0.0,0.00,0.0,0.0,0.0,0.00
297,0.0,0.0,0.00,0.0,0.0,0.0,0.00
298,0.0,0.0,0.00,0.0,0.0,0.0,0.00
299,0.0,0.0,0.00,0.0,0.0,0.0,0.00

In [7]:
H2_2= H2[['date','mes','año','nº_establecimientos_abiertos','nº_plazas_estimadas','ocupacion_por_habitaciones_(%)','ocupacion_por_plazas_(%)','ocupacion_por_plazas_fines_de_semana_(%)','nº_personas_empleadas']]

In [8]:
H_totals = pd.concat([H2_2, H1_2], axis = 1)
H_totals

,date,mes,año,nº_establecimientos_abiertos,nº_plazas_estimadas,ocupacion_por_habitaciones_(%),ocupacion_por_plazas_(%),ocupacion_por_plazas_fines_de_semana_(%),nº_personas_empleadas,total_viajeros,viajeros_nacionales,viajeros_extranjeros,total_pernoctaciones,pernoctaciones_nacionales,pernoctaciones_extranjero,estancia_media_(días)
0,Enero-1999,Enero,1999,1048.0,51497.0,59.10,46.25,52.26,8589.0,315037.0,184883.0,130154.00,740403.0,426241.0,314163.0,2.35
1,Febrero-1999,Febrero,1999,1044.0,52985.0,64.90,49.88,55.39,8711.0,323361.0,184621.0,138.74,742751.0,420676.0,322075.0,2.30
2,Marzo-1999,Marzo,1999,1038.0,53643.0,69.24,55.50,62.97,8885.0,405495.0,210887.0,194608.00,928374.0,482148.0,446227.0,2.29
3,Abril-1999,Abril,1999,1031.0,54641.0,71.63,58.52,64.63,8980.0,423969.0,201294.0,222675.00,966568.0,446083.0,520484.0,2.28
4,Mayo-1999,Mayo,1999,1028.0,54265.0,73.01,57.56,62.91,8713.0,445441.0,215788.0,229653.00,973432.0,457237.0,516195.0,2.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Agosto-2023,Agosto,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
296,Septiembre-2023,Septiembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
297,Octubre-2023,Octubre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
298,Noviembre-2023,Noviembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
299,Diciembre-2023,Diciembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00

In [9]:
H3.columns

Index(['año', 'mes', 'total_pernoctaciones', 'pernoctaciones_nacionales',
       'pernoctaciones_extranjeros', 'pernoctaciones_alemania',
       'pernoctaciones_austria', 'pernoctaciones_bélgica',
       'pernoctaciones_dinamarca', 'pernoctaciones_finlandia',
       'pernoctaciones_francia', 'pernoctaciones_grecia',
       'pernoctaciones_países_bajos', 'pernoctaciones_irlanda',
       'pernoctaciones_italia', 'pernoctaciones_luxemburgo',
       'pernoctaciones_portugal', 'pernoctaciones_reino_unido',
       'pernoctaciones_suecia', 'pernoctaciones_eslovaquia',
       'pernoctaciones_hungría', 'pernoctaciones_islandia',
       'pernoctaciones_noruega', 'pernoctaciones_polonia',
       'pernoctaciones_república_checa',
       'pernoctaciones_suiza_y_liechtenstein', 'pernoctaciones_turquía',
       'pernoctaciones_rusia', 'pernoctaciones_otros_países_de_europa',
       'pernoctaciones_países_africanos', 'pernoctaciones_argentina',
       'pernoctaciones_brasil', 'pernoctaciones_canadá',
       'pernoctaciones_estados_unidos', 'pernoctaciones_méxico',
       'pernoctaciones_venezuela',
       'pernoctaciones_resto_de_américa_central_y_sur', 'pernoctaciones_japón',
       'pernoctaciones_resto_de_asia', 'pernoctaciones_australia',
       'pernoctaciones_nueva_zelanda', 'pernoctaciones_otro_país', 'date'],
      dtype='object')

In [10]:
H3_2= H3[['date', 'mes','año','total_pernoctaciones', 'pernoctaciones_nacionales',
       'pernoctaciones_extranjeros', 'pernoctaciones_alemania',
       'pernoctaciones_austria', 'pernoctaciones_bélgica',
       'pernoctaciones_dinamarca', 'pernoctaciones_finlandia',
       'pernoctaciones_francia', 'pernoctaciones_grecia',
       'pernoctaciones_países_bajos', 'pernoctaciones_irlanda',
       'pernoctaciones_italia', 'pernoctaciones_luxemburgo',
       'pernoctaciones_portugal', 'pernoctaciones_reino_unido',
       'pernoctaciones_suecia', 'pernoctaciones_eslovaquia',
       'pernoctaciones_hungría', 'pernoctaciones_islandia',
       'pernoctaciones_noruega', 'pernoctaciones_polonia',
       'pernoctaciones_república_checa',
       'pernoctaciones_suiza_y_liechtenstein', 'pernoctaciones_turquía',
       'pernoctaciones_rusia', 'pernoctaciones_otros_países_de_europa',
       'pernoctaciones_países_africanos', 'pernoctaciones_argentina',
       'pernoctaciones_brasil', 'pernoctaciones_canadá',
       'pernoctaciones_estados_unidos', 'pernoctaciones_méxico',
       'pernoctaciones_venezuela',
       'pernoctaciones_resto_de_américa_central_y_sur', 'pernoctaciones_japón',
       'pernoctaciones_resto_de_asia', 'pernoctaciones_australia',
       'pernoctaciones_nueva_zelanda', 'pernoctaciones_otro_país']]

In [11]:
H6_2=H6.drop(['mes','año','date'],axis=1)
H_countries=pd.concat([H3_2, H6_2], axis = 1)
H_countries

,date,mes,año,total_pernoctaciones,pernoctaciones_nacionales,pernoctaciones_extranjeros,pernoctaciones_alemania,pernoctaciones_austria,pernoctaciones_bélgica,pernoctaciones_dinamarca,...,viajeros_canadá,viajeros_estados_unidos,viajeros_méjico,viajeros_venezuela,viajeros_resto_de_américa,viajeros_japón,viajeros_resto_de_asia,viajeros_australia,viajeros_nueva_zelanda,viajeros_otro_país
0,Enero-1999,Enero,1999,740406.0,426241,314165.0,14519,2373,3890.0,1008,...,1037,16833,3632,1059,8479,12521,2840,499,67,5331
1,Febrero-1999,Febrero,1999,742752.0,420676,322076.0,18929,2240,5317.0,1385,...,1059,19158,2350,1166,8129,12615,2694,484,48,5479
2,Marzo-1999,Marzo,1999,928375.0,482148,446227.0,35771,2856,8731.0,2290,...,1574,40928,4685,1393,10989,17814,2898,468,75,7762
3,Abril-1999,Abril,1999,966566.0,446083,520483.0,43943,3596,9171.0,3593,...,2872,49438,5380,1310,13355,13991,2877,1617,255,7565
4,Mayo-1999,Mayo,1999,973434.0,457237,516197.0,36168,3905,7812.0,2096,...,2100,45744,5516,1873,16736,15120,3393,2251,80,8241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Agosto-2023,Agosto,2023,0.0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
296,Septiembre-2023,Septiembre,2023,0.0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
297,Octubre-2023,Octubre,2023,0.0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
298,Noviembre-2023,Noviembre,2023,0.0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
299,Diciembre-2023,Diciembre,2023,0.0,0,0.0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
H4.columns

Index(['año', 'mes', 'total_pernoctaciones_nacionales',
       'pernoctaciones_andalucía', 'pernoctaciones_aragón',
       'pernoctaciones_principado_de_asturias', 'pernoctaciones_illes_balears',
       'pernoctaciones_canarias', 'pernoctaciones_cantabria',
       'pernoctaciones_castilla_y_león', 'pernoctaciones_castilla-la_mancha',
       'pernoctaciones_cataluña', 'pernoctaciones_comunitat_valenciana',
       'pernoctaciones_extremadura', 'pernoctaciones_galicia',
       'pernoctaciones_comunidad_de_madrid', 'pernoctaciones_región_de_murcia',
       'pernoctaciones_comunidad_foral_de_navarra',
       'pernoctaciones_país_vasco', 'pernoctaciones_la_rioja',
       'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla', 'date'],
      dtype='object')

In [16]:
H5.columns

Index(['año', 'mes', 'total_viajeros_nacionales', 'viajeros_andalucía',
       'viajeros_aragón', 'viajeros_principado_de_asturias',
       'viajeros_illes_balears', 'viajeros_canarias', 'viajeros_cantabria',
       'viajeros_castilla-león', 'viajeros_castilla-la_mancha',
       'viajeros_cataluña', 'viajeros_comunitat_valenciana',
       'viajeros_extremadura', 'viajeros_galicia',
       'viajeros_comunidad_de_madrid', 'viajeros_región_de_murcia',
       'viajeros_comunidad_foral_de_navarra', 'viajeros_país_vasco',
       'viajeros_la_rioja', 'viajeros_ciudad_autónoma_de_ceuta_y_melilla',
       'date'],
      dtype='object')

In [21]:
H4_2= H4[['date','mes','año','total_pernoctaciones_nacionales',
       'pernoctaciones_andalucía', 'pernoctaciones_aragón',
       'pernoctaciones_principado_de_asturias', 'pernoctaciones_illes_balears',
       'pernoctaciones_canarias', 'pernoctaciones_cantabria',
       'pernoctaciones_castilla_y_león', 'pernoctaciones_castilla-la_mancha',
       'pernoctaciones_cataluña', 'pernoctaciones_comunitat_valenciana',
       'pernoctaciones_extremadura', 'pernoctaciones_galicia',
       'pernoctaciones_comunidad_de_madrid', 'pernoctaciones_región_de_murcia',
       'pernoctaciones_comunidad_foral_de_navarra',
       'pernoctaciones_país_vasco', 'pernoctaciones_la_rioja',
       'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla']]

In [22]:
H5_2=H5.drop(['mes','año','date'],axis=1)

In [23]:
H_nationals=pd.concat([H4_2, H5_2], axis = 1)
H_nationals

,date,mes,año,total_pernoctaciones_nacionales,pernoctaciones_andalucía,pernoctaciones_aragón,pernoctaciones_principado_de_asturias,pernoctaciones_illes_balears,pernoctaciones_canarias,pernoctaciones_cantabria,...,viajeros_cataluña,viajeros_comunitat_valenciana,viajeros_extremadura,viajeros_galicia,viajeros_comunidad_de_madrid,viajeros_región_de_murcia,viajeros_comunidad_foral_de_navarra,viajeros_país_vasco,viajeros_la_rioja,viajeros_ciudad_autónoma_de_ceuta_y_melilla
0,Enero-2004,Enero,2004,417664,59030,10598,12735,11643,18580,8786,...,31054,21175,5716,11285,21130,8831,4075,12746,2597.0,1066
1,Febrero-2004,Febrero,2004,466626,69153,12358,12996,13932,20870,9180,...,39433,24953,6021,12633,28698,7807,5165,13966,2716.0,1024
2,Marzo-2004,Marzo,2004,458080,65849,11469,15495,10755,18344,8162,...,39084,22496,6332,14021,26426,6450,4559,13987,2489.0,1161
3,Abril-2004,Abril,2004,444607,59694,12558,15482,10799,18799,8432,...,33990,21760,5769,13249,23910,6192,4856,14202,2885.0,1182
4,Mayo-2004,Mayo,2004,499710,72457,14305,17415,9954,19709,8455,...,38727,21773,6973,16226,26386,7318,5441,15154,2735.0,1595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Agosto-2023,Agosto,2023,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
236,Septiembre-2023,Septiembre,2023,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
237,Octubre-2023,Octubre,2023,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
238,Noviembre-2023,Noviembre,2023,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
239,Diciembre-2023,Diciembre,2023,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0

In [24]:
H_nationals.shape

(240, 41)

In [26]:
H_countries.shape

(300, 83)

In [25]:
H_totals.shape

(300, 16)

In [29]:
H_origin = pd.merge(left = H_countries,
                                 right = H_nationals,
                                 how = 'left', 
                                 left_on = "date", 
                                 right_on= "date")

In [32]:
H_origin_c=list(H_origin.columns)

In [33]:
H_origin_c

['date',
 'mes_x',
 'año_x',
 'total_pernoctaciones',
 'pernoctaciones_nacionales',
 'pernoctaciones_extranjeros',
 'pernoctaciones_alemania',
 'pernoctaciones_austria',
 'pernoctaciones_bélgica',
 'pernoctaciones_dinamarca',
 'pernoctaciones_finlandia',
 'pernoctaciones_francia',
 'pernoctaciones_grecia',
 'pernoctaciones_países_bajos',
 'pernoctaciones_irlanda',
 'pernoctaciones_italia',
 'pernoctaciones_luxemburgo',
 'pernoctaciones_portugal',
 'pernoctaciones_reino_unido',
 'pernoctaciones_suecia',
 'pernoctaciones_eslovaquia',
 'pernoctaciones_hungría',
 'pernoctaciones_islandia',
 'pernoctaciones_noruega',
 'pernoctaciones_polonia',
 'pernoctaciones_república_checa',
 'pernoctaciones_suiza_y_liechtenstein',
 'pernoctaciones_turquía',
 'pernoctaciones_rusia',
 'pernoctaciones_otros_países_de_europa',
 'pernoctaciones_países_africanos',
 'pernoctaciones_argentina',
 'pernoctaciones_brasil',
 'pernoctaciones_canadá',
 'pernoctaciones_estados_unidos',
 'pernoctaciones_méxico',
 'pernoctaciones_venezuela',
 'pernoctaciones_resto_de_américa_central_y_sur',
 'pernoctaciones_japón',
 'pernoctaciones_resto_de_asia',
 'pernoctaciones_australia',
 'pernoctaciones_nueva_zelanda',
 'pernoctaciones_otro_país',
 'total_viajeros',
 'total_viajeros_nacionales_x',
 'total_viajeros_extranjeros',
 'viajeros_alemania',
 'viajeros_austria',
 'viajeros_bélgica',
 'viajeros_dinamarca',
 'viajeros_finlandia',
 'viajeros_francia',
 'viajeros_grecia',
 'viajeros_países_bajos',
 'viajeros_irlanda',
 'viajeros_italia',
 'viajeros_luxemburgo',
 'viajeros_portugal',
 'viajeros_reino_unido',
 'viajeros_suecia',
 'viajeros_eslovaquia',
 'viajeros_hungría',
 'viajeros_islandia',
 'viajeros_noruega',
 'viajeros_polonia',
 'viajeros_república_checa',
 'viajeros_suiza_y_liechtenstein',
 'viajeros_turquía',
 'viajeros_rusia',
 'viajeros_otros_países_de_europa',
 'viajeros_países_africanos',
 'viajeros_argentina',
 'viajeros_brasil',
 'viajeros_canadá',
 'viajeros_estados_unidos',
 'viajeros_méjico',
 'viajeros_venezuela',
 'viajeros_resto_de_américa',
 'viajeros_japón',
 'viajeros_resto_de_asia',
 'viajeros_australia',
 'viajeros_nueva_zelanda',
 'viajeros_otro_país',
 'mes_y',
 'año_y',
 'total_pernoctaciones_nacionales',
 'pernoctaciones_andalucía',
 'pernoctaciones_aragón',
 'pernoctaciones_principado_de_asturias',
 'pernoctaciones_illes_balears',
 'pernoctaciones_canarias',
 'pernoctaciones_cantabria',
 'pernoctaciones_castilla_y_león',
 'pernoctaciones_castilla-la_mancha',
 'pernoctaciones_cataluña',
 'pernoctaciones_comunitat_valenciana',
 'pernoctaciones_extremadura',
 'pernoctaciones_galicia',
 'pernoctaciones_comunidad_de_madrid',
 'pernoctaciones_región_de_murcia',
 'pernoctaciones_comunidad_foral_de_navarra',
 'pernoctaciones_país_vasco',
 'pernoctaciones_la_rioja',
 'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla',
 'total_viajeros_nacionales_y',
 'viajeros_andalucía',
 'viajeros_aragón',
 'viajeros_principado_de_asturias',
 'viajeros_illes_balears',
 'viajeros_canarias',
 'viajeros_cantabria',
 'viajeros_castilla-león',
 'viajeros_castilla-la_mancha',
 'viajeros_cataluña',
 'viajeros_comunitat_valenciana',
 'viajeros_extremadura',
 'viajeros_galicia',
 'viajeros_comunidad_de_madrid',
 'viajeros_región_de_murcia',
 'viajeros_comunidad_foral_de_navarra',
 'viajeros_país_vasco',
 'viajeros_la_rioja',
 'viajeros_ciudad_autónoma_de_ceuta_y_melilla']

In [34]:
H_origin=H_origin.drop(['mes_y','año_y'],axis=1)

In [35]:
H_origin_c=list(H_origin.columns)
H_origin_c

['date',
 'mes_x',
 'año_x',
 'total_pernoctaciones',
 'pernoctaciones_nacionales',
 'pernoctaciones_extranjeros',
 'pernoctaciones_alemania',
 'pernoctaciones_austria',
 'pernoctaciones_bélgica',
 'pernoctaciones_dinamarca',
 'pernoctaciones_finlandia',
 'pernoctaciones_francia',
 'pernoctaciones_grecia',
 'pernoctaciones_países_bajos',
 'pernoctaciones_irlanda',
 'pernoctaciones_italia',
 'pernoctaciones_luxemburgo',
 'pernoctaciones_portugal',
 'pernoctaciones_reino_unido',
 'pernoctaciones_suecia',
 'pernoctaciones_eslovaquia',
 'pernoctaciones_hungría',
 'pernoctaciones_islandia',
 'pernoctaciones_noruega',
 'pernoctaciones_polonia',
 'pernoctaciones_república_checa',
 'pernoctaciones_suiza_y_liechtenstein',
 'pernoctaciones_turquía',
 'pernoctaciones_rusia',
 'pernoctaciones_otros_países_de_europa',
 'pernoctaciones_países_africanos',
 'pernoctaciones_argentina',
 'pernoctaciones_brasil',
 'pernoctaciones_canadá',
 'pernoctaciones_estados_unidos',
 'pernoctaciones_méxico',
 'pernoctaciones_venezuela',
 'pernoctaciones_resto_de_américa_central_y_sur',
 'pernoctaciones_japón',
 'pernoctaciones_resto_de_asia',
 'pernoctaciones_australia',
 'pernoctaciones_nueva_zelanda',
 'pernoctaciones_otro_país',
 'total_viajeros',
 'total_viajeros_nacionales_x',
 'total_viajeros_extranjeros',
 'viajeros_alemania',
 'viajeros_austria',
 'viajeros_bélgica',
 'viajeros_dinamarca',
 'viajeros_finlandia',
 'viajeros_francia',
 'viajeros_grecia',
 'viajeros_países_bajos',
 'viajeros_irlanda',
 'viajeros_italia',
 'viajeros_luxemburgo',
 'viajeros_portugal',
 'viajeros_reino_unido',
 'viajeros_suecia',
 'viajeros_eslovaquia',
 'viajeros_hungría',
 'viajeros_islandia',
 'viajeros_noruega',
 'viajeros_polonia',
 'viajeros_república_checa',
 'viajeros_suiza_y_liechtenstein',
 'viajeros_turquía',
 'viajeros_rusia',
 'viajeros_otros_países_de_europa',
 'viajeros_países_africanos',
 'viajeros_argentina',
 'viajeros_brasil',
 'viajeros_canadá',
 'viajeros_estados_unidos',
 'viajeros_méjico',
 'viajeros_venezuela',
 'viajeros_resto_de_américa',
 'viajeros_japón',
 'viajeros_resto_de_asia',
 'viajeros_australia',
 'viajeros_nueva_zelanda',
 'viajeros_otro_país',
 'total_pernoctaciones_nacionales',
 'pernoctaciones_andalucía',
 'pernoctaciones_aragón',
 'pernoctaciones_principado_de_asturias',
 'pernoctaciones_illes_balears',
 'pernoctaciones_canarias',
 'pernoctaciones_cantabria',
 'pernoctaciones_castilla_y_león',
 'pernoctaciones_castilla-la_mancha',
 'pernoctaciones_cataluña',
 'pernoctaciones_comunitat_valenciana',
 'pernoctaciones_extremadura',
 'pernoctaciones_galicia',
 'pernoctaciones_comunidad_de_madrid',
 'pernoctaciones_región_de_murcia',
 'pernoctaciones_comunidad_foral_de_navarra',
 'pernoctaciones_país_vasco',
 'pernoctaciones_la_rioja',
 'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla',
 'total_viajeros_nacionales_y',
 'viajeros_andalucía',
 'viajeros_aragón',
 'viajeros_principado_de_asturias',
 'viajeros_illes_balears',
 'viajeros_canarias',
 'viajeros_cantabria',
 'viajeros_castilla-león',
 'viajeros_castilla-la_mancha',
 'viajeros_cataluña',
 'viajeros_comunitat_valenciana',
 'viajeros_extremadura',
 'viajeros_galicia',
 'viajeros_comunidad_de_madrid',
 'viajeros_región_de_murcia',
 'viajeros_comunidad_foral_de_navarra',
 'viajeros_país_vasco',
 'viajeros_la_rioja',
 'viajeros_ciudad_autónoma_de_ceuta_y_melilla']

In [37]:
Hotels_df= pd.merge(left = H_totals,
                                 right = H_origin,
                                 how = 'left', 
                                 left_on = "date", 
                                 right_on= "date")
Hotels_df

,date,mes,año,nº_establecimientos_abiertos,nº_plazas_estimadas,ocupacion_por_habitaciones_(%),ocupacion_por_plazas_(%),ocupacion_por_plazas_fines_de_semana_(%),nº_personas_empleadas,total_viajeros_x,...,viajeros_cataluña,viajeros_comunitat_valenciana,viajeros_extremadura,viajeros_galicia,viajeros_comunidad_de_madrid,viajeros_región_de_murcia,viajeros_comunidad_foral_de_navarra,viajeros_país_vasco,viajeros_la_rioja,viajeros_ciudad_autónoma_de_ceuta_y_melilla
0,Enero-1999,Enero,1999,1048.0,51497.0,59.10,46.25,52.26,8589.0,315037.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Febrero-1999,Febrero,1999,1044.0,52985.0,64.90,49.88,55.39,8711.0,323361.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Marzo-1999,Marzo,1999,1038.0,53643.0,69.24,55.50,62.97,8885.0,405495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abril-1999,Abril,1999,1031.0,54641.0,71.63,58.52,64.63,8980.0,423969.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mayo-1999,Mayo,1999,1028.0,54265.0,73.01,57.56,62.91,8713.0,445441.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Agosto-2023,Agosto,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,Septiembre-2023,Septiembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,Octubre-2023,Octubre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,Noviembre-2023,Noviembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,Diciembre-2023,Diciembre,2023,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
Hotels_df_c=list(Hotels_df.columns)
Hotels_df_c

['date',
 'mes',
 'año',
 'nº_establecimientos_abiertos',
 'nº_plazas_estimadas',
 'ocupacion_por_habitaciones_(%)',
 'ocupacion_por_plazas_(%)',
 'ocupacion_por_plazas_fines_de_semana_(%)',
 'nº_personas_empleadas',
 'total_viajeros_x',
 'viajeros_nacionales',
 'viajeros_extranjeros',
 'total_pernoctaciones_x',
 'pernoctaciones_nacionales_x',
 'pernoctaciones_extranjero',
 'estancia_media_(días)',
 'mes_x',
 'año_x',
 'total_pernoctaciones_y',
 'pernoctaciones_nacionales_y',
 'pernoctaciones_extranjeros',
 'pernoctaciones_alemania',
 'pernoctaciones_austria',
 'pernoctaciones_bélgica',
 'pernoctaciones_dinamarca',
 'pernoctaciones_finlandia',
 'pernoctaciones_francia',
 'pernoctaciones_grecia',
 'pernoctaciones_países_bajos',
 'pernoctaciones_irlanda',
 'pernoctaciones_italia',
 'pernoctaciones_luxemburgo',
 'pernoctaciones_portugal',
 'pernoctaciones_reino_unido',
 'pernoctaciones_suecia',
 'pernoctaciones_eslovaquia',
 'pernoctaciones_hungría',
 'pernoctaciones_islandia',
 'pernoctaciones_noruega',
 'pernoctaciones_polonia',
 'pernoctaciones_república_checa',
 'pernoctaciones_suiza_y_liechtenstein',
 'pernoctaciones_turquía',
 'pernoctaciones_rusia',
 'pernoctaciones_otros_países_de_europa',
 'pernoctaciones_países_africanos',
 'pernoctaciones_argentina',
 'pernoctaciones_brasil',
 'pernoctaciones_canadá',
 'pernoctaciones_estados_unidos',
 'pernoctaciones_méxico',
 'pernoctaciones_venezuela',
 'pernoctaciones_resto_de_américa_central_y_sur',
 'pernoctaciones_japón',
 'pernoctaciones_resto_de_asia',
 'pernoctaciones_australia',
 'pernoctaciones_nueva_zelanda',
 'pernoctaciones_otro_país',
 'total_viajeros_y',
 'total_viajeros_nacionales_x',
 'total_viajeros_extranjeros',
 'viajeros_alemania',
 'viajeros_austria',
 'viajeros_bélgica',
 'viajeros_dinamarca',
 'viajeros_finlandia',
 'viajeros_francia',
 'viajeros_grecia',
 'viajeros_países_bajos',
 'viajeros_irlanda',
 'viajeros_italia',
 'viajeros_luxemburgo',
 'viajeros_portugal',
 'viajeros_reino_unido',
 'viajeros_suecia',
 'viajeros_eslovaquia',
 'viajeros_hungría',
 'viajeros_islandia',
 'viajeros_noruega',
 'viajeros_polonia',
 'viajeros_república_checa',
 'viajeros_suiza_y_liechtenstein',
 'viajeros_turquía',
 'viajeros_rusia',
 'viajeros_otros_países_de_europa',
 'viajeros_países_africanos',
 'viajeros_argentina',
 'viajeros_brasil',
 'viajeros_canadá',
 'viajeros_estados_unidos',
 'viajeros_méjico',
 'viajeros_venezuela',
 'viajeros_resto_de_américa',
 'viajeros_japón',
 'viajeros_resto_de_asia',
 'viajeros_australia',
 'viajeros_nueva_zelanda',
 'viajeros_otro_país',
 'total_pernoctaciones_nacionales',
 'pernoctaciones_andalucía',
 'pernoctaciones_aragón',
 'pernoctaciones_principado_de_asturias',
 'pernoctaciones_illes_balears',
 'pernoctaciones_canarias',
 'pernoctaciones_cantabria',
 'pernoctaciones_castilla_y_león',
 'pernoctaciones_castilla-la_mancha',
 'pernoctaciones_cataluña',
 'pernoctaciones_comunitat_valenciana',
 'pernoctaciones_extremadura',
 'pernoctaciones_galicia',
 'pernoctaciones_comunidad_de_madrid',
 'pernoctaciones_región_de_murcia',
 'pernoctaciones_comunidad_foral_de_navarra',
 'pernoctaciones_país_vasco',
 'pernoctaciones_la_rioja',
 'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla',
 'total_viajeros_nacionales_y',
 'viajeros_andalucía',
 'viajeros_aragón',
 'viajeros_principado_de_asturias',
 'viajeros_illes_balears',
 'viajeros_canarias',
 'viajeros_cantabria',
 'viajeros_castilla-león',
 'viajeros_castilla-la_mancha',
 'viajeros_cataluña',
 'viajeros_comunitat_valenciana',
 'viajeros_extremadura',
 'viajeros_galicia',
 'viajeros_comunidad_de_madrid',
 'viajeros_región_de_murcia',
 'viajeros_comunidad_foral_de_navarra',
 'viajeros_país_vasco',
 'viajeros_la_rioja',
 'viajeros_ciudad_autónoma_de_ceuta_y_melilla']

In [39]:
Hotels_df=Hotels_df.drop(['mes_x','año_x'],axis=1)
Hotels_df_c=list(Hotels_df.columns)
Hotels_df_c

['date',
 'mes',
 'año',
 'nº_establecimientos_abiertos',
 'nº_plazas_estimadas',
 'ocupacion_por_habitaciones_(%)',
 'ocupacion_por_plazas_(%)',
 'ocupacion_por_plazas_fines_de_semana_(%)',
 'nº_personas_empleadas',
 'total_viajeros_x',
 'viajeros_nacionales',
 'viajeros_extranjeros',
 'total_pernoctaciones_x',
 'pernoctaciones_nacionales_x',
 'pernoctaciones_extranjero',
 'estancia_media_(días)',
 'total_pernoctaciones_y',
 'pernoctaciones_nacionales_y',
 'pernoctaciones_extranjeros',
 'pernoctaciones_alemania',
 'pernoctaciones_austria',
 'pernoctaciones_bélgica',
 'pernoctaciones_dinamarca',
 'pernoctaciones_finlandia',
 'pernoctaciones_francia',
 'pernoctaciones_grecia',
 'pernoctaciones_países_bajos',
 'pernoctaciones_irlanda',
 'pernoctaciones_italia',
 'pernoctaciones_luxemburgo',
 'pernoctaciones_portugal',
 'pernoctaciones_reino_unido',
 'pernoctaciones_suecia',
 'pernoctaciones_eslovaquia',
 'pernoctaciones_hungría',
 'pernoctaciones_islandia',
 'pernoctaciones_noruega',
 'pernoctaciones_polonia',
 'pernoctaciones_república_checa',
 'pernoctaciones_suiza_y_liechtenstein',
 'pernoctaciones_turquía',
 'pernoctaciones_rusia',
 'pernoctaciones_otros_países_de_europa',
 'pernoctaciones_países_africanos',
 'pernoctaciones_argentina',
 'pernoctaciones_brasil',
 'pernoctaciones_canadá',
 'pernoctaciones_estados_unidos',
 'pernoctaciones_méxico',
 'pernoctaciones_venezuela',
 'pernoctaciones_resto_de_américa_central_y_sur',
 'pernoctaciones_japón',
 'pernoctaciones_resto_de_asia',
 'pernoctaciones_australia',
 'pernoctaciones_nueva_zelanda',
 'pernoctaciones_otro_país',
 'total_viajeros_y',
 'total_viajeros_nacionales_x',
 'total_viajeros_extranjeros',
 'viajeros_alemania',
 'viajeros_austria',
 'viajeros_bélgica',
 'viajeros_dinamarca',
 'viajeros_finlandia',
 'viajeros_francia',
 'viajeros_grecia',
 'viajeros_países_bajos',
 'viajeros_irlanda',
 'viajeros_italia',
 'viajeros_luxemburgo',
 'viajeros_portugal',
 'viajeros_reino_unido',
 'viajeros_suecia',
 'viajeros_eslovaquia',
 'viajeros_hungría',
 'viajeros_islandia',
 'viajeros_noruega',
 'viajeros_polonia',
 'viajeros_república_checa',
 'viajeros_suiza_y_liechtenstein',
 'viajeros_turquía',
 'viajeros_rusia',
 'viajeros_otros_países_de_europa',
 'viajeros_países_africanos',
 'viajeros_argentina',
 'viajeros_brasil',
 'viajeros_canadá',
 'viajeros_estados_unidos',
 'viajeros_méjico',
 'viajeros_venezuela',
 'viajeros_resto_de_américa',
 'viajeros_japón',
 'viajeros_resto_de_asia',
 'viajeros_australia',
 'viajeros_nueva_zelanda',
 'viajeros_otro_país',
 'total_pernoctaciones_nacionales',
 'pernoctaciones_andalucía',
 'pernoctaciones_aragón',
 'pernoctaciones_principado_de_asturias',
 'pernoctaciones_illes_balears',
 'pernoctaciones_canarias',
 'pernoctaciones_cantabria',
 'pernoctaciones_castilla_y_león',
 'pernoctaciones_castilla-la_mancha',
 'pernoctaciones_cataluña',
 'pernoctaciones_comunitat_valenciana',
 'pernoctaciones_extremadura',
 'pernoctaciones_galicia',
 'pernoctaciones_comunidad_de_madrid',
 'pernoctaciones_región_de_murcia',
 'pernoctaciones_comunidad_foral_de_navarra',
 'pernoctaciones_país_vasco',
 'pernoctaciones_la_rioja',
 'pernoctaciones_ciudad_autónoma_de_ceuta_y_melilla',
 'total_viajeros_nacionales_y',
 'viajeros_andalucía',
 'viajeros_aragón',
 'viajeros_principado_de_asturias',
 'viajeros_illes_balears',
 'viajeros_canarias',
 'viajeros_cantabria',
 'viajeros_castilla-león',
 'viajeros_castilla-la_mancha',
 'viajeros_cataluña',
 'viajeros_comunitat_valenciana',
 'viajeros_extremadura',
 'viajeros_galicia',
 'viajeros_comunidad_de_madrid',
 'viajeros_región_de_murcia',
 'viajeros_comunidad_foral_de_navarra',
 'viajeros_país_vasco',
 'viajeros_la_rioja',
 'viajeros_ciudad_autónoma_de_ceuta_y_melilla']